@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    background: #ffffff;
    /* color: #ffffff; */
}
.sideBarName {
  margin-left: 0.5rem

}

[data-collapse="false"] {
    width: 17rem;
  }

  [data-collapse="true"] {
    width: 5rem;
  }
  @layer utilities{
    /* @apply w-[100%] */
  }

